cazador-empleos-n8n/workflow-cazador-empleos.json
{
  "name": "Cazador de Empleos Remotos - IA Automation + Data (por email)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 9 * * 2,5" }
          ]
        }
      },
      "name": "Trigger - Martes y Viernes 9hs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [220, 320]
    },
    {
      "parameters": {
        "url": "https://remotive.com/api/remote-jobs?search=automation&limit=25",
        "options": {}
      },
      "name": "Buscar - Automation / IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 220]
    },
    {
      "parameters": {
        "url": "https://remotive.com/api/remote-jobs?search=data%20analyst&limit=25",
        "options": {}
      },
      "name": "Buscar - Data Analyst",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 420]
    },
    {
      "parameters": {},
      "name": "Unir resultados",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [700, 320]
    },
    {
      "parameters": {
        "functionCode": "// Junta los empleos de todas las búsquedas, deduplica y arma el email\nconst all = [];\nfor (const item of $input.all()) {\n  const jobs = (item.json && item.json.jobs) || [];\n  for (const j of jobs) all.push(j);\n}\n// Deduplicar por URL\nconst seen = new Set();\nconst uniq = [];\nfor (const j of all) {\n  if (j.url && !seen.has(j.url)) { seen.add(j.url); uniq.push(j); }\n}\n// Palabras clave que suman fit (partnerships, ventas, automatización, datos)\nconst KW = ['automation','automat','ai ','partnership','sales','account','growth','data','analyst','no-code','nocode','workflow'];\nuniq.forEach(j => {\n  const t = (j.title || '').toLowerCase();\n  j._score = KW.reduce((s,k)=> s + (t.includes(k) ? 1 : 0), 0);\n});\nuniq.sort((a,b) => (b._score - a._score) || (new Date(b.publication_date) - new Date(a.publication_date)));\nconst top = uniq.slice(0, 10);\n\nlet html = '<h2>🎯 Cazador de Empleos — roles remotos para vos</h2>';\nhtml += '<p>Encontré ' + top.length + ' roles que encajan con tu perfil (IA Automation / Data / Partnerships):</p><ul>';\nfor (const j of top) {\n  const loc = j.candidate_required_location || 'Remoto';\n  const sal = j.salary ? (' · ' + j.salary) : '';\n  html += `<li style=\"margin-bottom:8px\"><a href=\"${j.url}\"><b>${j.title}</b></a> — ${j.company_name} (${loc})${sal}</li>`;\n}\nhtml += '</ul><p style=\"color:#888;font-size:12px\">Automatizado con n8n · Lleyton IA Automation</p>';\n\nreturn [{ json: { html, count: top.length } }];"
      },
      "name": "Armar resumen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 320]
    },
    {
      "parameters": {
        "sendTo": "murphylleyton05@gmail.com",
        "subject": "=Cazador de empleos — {{$json.count}} roles nuevos para aplicar",
        "emailType": "html",
        "message": "={{$json.html}}",
        "options": {}
      },
      "name": "Enviar por Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1180, 320]
    }
  ],
  "connections": {
    "Trigger - Martes y Viernes 9hs": {
      "main": [[
        { "node": "Buscar - Automation / IA", "type": "main", "index": 0 },
        { "node": "Buscar - Data Analyst", "type": "main", "index": 0 }
      ]]
    },
    "Buscar - Automation / IA": {
      "main": [[ { "node": "Unir resultados", "type": "main", "index": 0 } ]]
    },
    "Buscar - Data Analyst": {
      "main": [[ { "node": "Unir resultados", "type": "main", "index": 1 } ]]
    },
    "Unir resultados": {
      "main": [[ { "node": "Armar resumen", "type": "main", "index": 0 } ]]
    },
    "Armar resumen": {
      "main": [[ { "node": "Enviar por Gmail", "type": "main", "index": 0 } ]]
    }
  },
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  }
}
